VPS_PUBLIC_HOST=203.0.113.10
WG_PORT=51820
UDP_PORTS=14159
TCP_PORTS=

WG_INTERFACE=wg0
WG_SUBNET=10.13.13.0
WG_ALLOWED_IPS=10.13.13.0/24
VPS_WG_IP=10.13.13.1
HOME_WG_IP=10.13.13.2

PUID=1000
PGID=1000
TZ=Asia/Tokyo
PEERDNS=auto
LOG_CONFS=false
